.title {
    color:aquamarine;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.h1 {
    color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
   
}