.title{
    color:gold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
body{
    background-color: teal;
}
title{
    color:gold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}